.me-img {
    height: 150px;
}

.card-title {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.img-gallery * {
    width: 100%;
    padding: 0;
    margin: 0;
}

.song-row:hover {
    cursor: pointer;
}